@model GrassPlantInfo.Entity.T_GrassCountyStatistics

@{

    Layout = null;
}
<html>
<head title="编辑草情">
    <link rel="stylesheet" type="text/css" href="/js/EasyUi/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/js/themes/icon.css" />
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/EasyUi/jquery.easyui.min.js"></script>
    <script src="/js/EasyUi/easyui-lang-zh_CN.js"></script>
    <style>
        html, body {
            width: 100%;
            min-width: 800px;
            height: 100%;
            padding: 0px;
            margin:0px;
        }
         #content {
            width: 800px;
            margin: 0px auto;
        }
        form section {
            background-color: #ffffff;
            margin-top: 20px;
        }
        .info {
            background-color: #ffffff;
            margin-top: 40px;
        }
        #content, #createNew, #form1 {
            background-color:transparent;
        }
    </style>
</head>
<body style="background-color: #f5f5f5;">
    <header style="background-color: #00a3ed; line-height: 50px; margin-top: -15px; text-align: center; display:block;">
        <h2 class="titel" style="color: #ffffff; font-size:14px">新增草地资源清查表单</h2>
    </header>
    <div id="content" style="min-width:800px">
        <div class="info">
            <p class="ok" style="display:none">添加成功！</p>
        </div>
        <div id="createNew">
            <form id="form1" method="post" action="/Grass/Create">
                <section id="resources">
                    <h3 style="padding-left: 345px; font-size: 15px; line-height: 25px;">资源状况</h3>
                    <div>
                        <table cellpadding="5px">
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px; white-space: nowrap;">国有草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="StateOwnedArea" data-options="required:true,data_require:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">集体草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="CollectiveArea" data-options="required:true" /></td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section id="ecology">
                    <h3 style="padding-left: 345px; font-size: 15px; line-height: 25px;">生态状况</h3>
                    <div>
                        <table cellpadding="5px">
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">草原综合植被盖度(%)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="VegetationCoverage" data-options="required:true" /></td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section id="utilize">
                    <h3 style="padding-left: 345px; font-size: 15px; line-height: 25px;">利用状况</h3>
                    <div>
                        <table cellpadding="5px">
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">落实承包的国有草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ContractStateArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">落实承包的集体草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ContractCollectiveArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">已纳入不动产统一确权登记的草原承包面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ImmovableArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">已纳入自然资源统一确权登记的草原承包面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="NaturalArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">国有农牧场的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="StateRanchArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">已改制国有农牧场的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ReformedArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">国有草原向集体经济组织外流转的面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ToCollectiveArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">已公告基本草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="NoticedArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">完成技术划定但未公告的基本草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="CompleteNotNoticeArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">纳入生态保护红线草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="EcologicalRedLineArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">纳入各类保护地草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="VariousProtectedArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">禁止开发区内的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="ProhibitedZoneArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">限制开发区内的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="RestrictedDevelopArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">重点开发区内的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="KeyDevelopArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">优化开发区内的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="optimizeDevelopArea" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">超载率小于10%的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="OverloadLittle" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">超载率10%-15%的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="OverloadMiddle" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">超载率大于15%的草原面积(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="OverloadGreat" data-options="required:true" /></td>
                            </tr>
                            <tr>
                                <td style="width: 320px; text-align: right; padding-right: 10px">年末草食家畜存栏数量(万亩)</td>
                                <td><input style="width:350px" type="text" class="easyui-numberbox" name="LivestockHerdsNumber" data-options="required:true" /></td>
                            </tr>
                        </table>
                    </div>
                </section>
                <p style="padding-left: 345px; background-color: #f5f5f5; height:60px;margin-bottom:-15px;">
                    <button style="width:140px;height:35px;margin-top:10px;cursor:pointer;" type="button" id="tijiao">添加完成</button>
                </p>
            </form>
        </div>
    </div>
    <footer></footer>
    <script>

        $(function () {

            $("#tijiao").click(function () {
                $("#form1").form("submit",
                    {
                        onSubmit: function () {
                            return $(this).form('validate'); // return false will stop the form submission
                        },
                        success: function (data) {
                            plantFamily.list();
                            $.messager.alert('提示', '添加成功！', 'info');
                        }
                    })
            })
        })
    </script>

</body>
</html>
